<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration page</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <style>
        body
        {
            background: orange
        }
        .avatar-pic{
            width: 150px;
        }
    </style>


</head>

<body>
    <div class="container mt-5 bg-img">
    <div class="bg-one">
    <form >
        <div class="col-md-4 mb-4">
            <form class="md-form">
              <div class="file-field">
                <div class="mb-4 col-2 justify-center">
                  <img src="../../assets/Profilepic.png"
                    class=" z-depth-1 avatar-pic" alt="example placeholder avatar">
                </div>
                <div class="d-flex ">
                  <div class="btn btn-mdb-color btn-rounded float-left">
                    <label class="float-left">Add photo</label><br>
                    <input type="file">
                  </div>
                </div>
              </div>
            </form>

          </div>
    <div class="form-group row">
        <label for="Email Address" class="col-2" style="background-color:rgb(159, 151, 151);">Email Address:</label>
        <input type="text" name="Email Address" id="Email Address" class="col-4">
    </div><br>
    <div class="form-group row">
        <label for="username" class="col-2"style="background-color:rgb(159, 151, 151);">Name:</label>
        <input type="text" name="username" id="username" placeholder=" Lname              Fname           Mname" class="col-4">
    </div><br>
    <div class="form-group row">
        <label for="Email Address" class="col-2" style="background-color:rgb(159, 151, 151);">College Email :</label>
        <input type="text" name="Email Address" id="Email Address" placeholder="If available" class="col-4">
    </div><br>
    <div class="form-group row">
        <label for="username" class="col-2" style="background-color:rgb(159, 151, 151);">SAP Module :</label>
        <input type="text" name="username" id="username" class="col-4">
    </div><br>
    <div class="form-group row">
        <label for="phone" class="col-2" style="background-color:rgb(159, 151, 151);">Contact Number:</label>
        <input type="tel" id="phone" name="phone" pattern="[0-9]{3}-[0-9]{2}-[0-9]{3}" class="col-4">
    </div><br>
    <div class="form-group row">
        <label for="start" class="col-2" style="background-color:rgb(159, 151, 151);">Passout Year:</label>
        <input type="month" id="start" name="start" min="" value="2018-05" class="col-4">
    </div><br>

    <div class="form-group row">
        <label for="branch" class="col-2" style="background-color:rgb(159, 151, 151);">Branch:</label>
        <select name="branch" id="branch">
            <option value="Pune">Computer</option>
            <option value="Mumbai">E&TC</option>
            <option value="Delhi">Mechanical</option>
            <option value="Delhi">Electrical</option>
            <option value="Delhi">Civil</option>
            <option value="Delhi">Structural</option>
            <option value="Delhi">Mechatronics</option>
            <option value="Delhi">Information Technology</option>
            <option value="Delhi">Other</option>
        </select>

    </div><br>
    <div class="form-group row">
        <label for="specialization" class="col-2" style="background-color:rgb(159, 151, 151);">specialization:</label>
        <input type="text" name="specialization" id="specialization" placeholder="Type no if none" class="col-4">
    </div><br>
    <div class="form-group row">
        <label for="Student_type" class="col-2" style="background-color:rgb(159, 151, 151);">Student_type:</label>
        <select name="Student_type" id="Student_type" class="col-4">
            <option value="College Pursuing">College Pursuing</option>
            <option value="Passout">Passout</option>
            <option value="Out of college">Out of college</option>
        </select>

    </div><br>
    <!--<div class="form-group row">
        <label class="col-2">Student Type :</label>
        <div class="col-4">
            <div class="input-group">
                <div class="form-check form-check-inline" style="background-color: aqua;">
                    <input type="checkbox" class="form-check-input mx-2">
                    <label class="form-check-label">College Pursuing</label>
                    <input type="checkbox" class="form-check-input mx-2">
                    <label class="form-check-label">Passout</label>
                    <input type="checkbox" class="form-check-input mx-2">
                    <label class="form-check-label">Out of Sanjivani College</label>
                </div>
            </div>
        </div>
    </div>-->
    <div class="form-group row">
        <label for="txtAadhar" class="col-2" style="background-color:rgb(159, 151, 151);">Adhar card no:</label>
<input type="text" id="txtAadhar" onblur="AadharValidate();" class="col-4">
    </div><br>

    <div class="form-group row">
        <label class="col-2" style="background-color:rgb(159, 151, 151);">password :</label>
            <input name="password" id="password" type="password" class="col-4" >
    </div><br>
    <div class="form-group row">
        <label class="col-2" style="background-color:rgb(159, 151, 151);">confirm password:</label>
        <input type="password" name="confirm_password" id="confirm_password" class="col-4" >

</div><br>
</form></div>
</div>


</body>

</html>
<router-outlet></router-outlet>
